<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <KEYVAULT_URL></KEYVAULT_URL>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>